* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fafafa;
}

button {
  all: unset;
  background-color: #005dab;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  padding: 0.25rem 0.5rem;

  &:hover {
    background-color: #0021aa;
  }
}

input[type="text"] {
  border: 1px solid #aaa;
  padding: 0.25rem 0.5rem;
}
